.services-list {
  &__collapse {
    .collapse__panel {
      .ant-collapse-header {
        .anticon {
          font-size: unset;
          vertical-align: -7px;
        }
        .header--font-20 {
          font-size: 20px;
        }
      }
      &__cta-container {
        button {
          margin-right: 10px;
        }
      }
    }
  }
}
