.api-diff-view {
  &__new_endpoints {
    border-color: rgba(172, 209, 175, 0.8);
    background-color: rgba(172, 209, 175, 0.8);
    font-weight: bold;
  }
  &__missing_endpoints {
    border-color: rgba(244, 113, 116, 0.8);
    background-color: rgba(244, 113, 116, 0.8);
    font-weight: bold;
  }

  &__changed-operations{
    border-color: lightyellow;
    background-color: lightyellow;
    font-weight: bold;
  }
  .diff-check-circle,
  .diff-close-circle {
    font-size: 18px;
  }
  .alert-message {
    width: 30%;
  }
}
