.api-diff-view {
  &__new_endpoints {
    border-color: rgba(101, 231, 155, 0.8);
    background-color: rgba(101, 231, 155, 0.8);
  }
  &__missing_endpoints {
    border-color: rgba(236, 63, 63, 0.8);
    background-color: rgba(236, 63, 63, 0.8);
  }
  &__changed-operations {
  }
  .diff-check-circle,
  .diff-close-circle {
    font-size: 18px;
  }
}
