.header {
  &__logo {
    float: left;
    display: flex;
    justify-content: center;
    width: 225px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);

    .name {
      align-self: center;
      font-family: "Sofia", sans-serif;
      font-size: large;
    }
  }
}
